$sinze8: 0.875rem;
$clr-white: #fff;
$box: 3px 2px 5px grey;
$clr-gray: #444;
$box2: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
$clr-black: #000;
$clr-bone: #fafafa;
$clr-darkHeader: #2B3743;
$clr-darkBody: #202D36;

.font {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  @extend .font;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5vw;
  @extend .font;
  box-shadow: $box2;

  h1 {
    font-size: $sinze8;
    color: $clr-black;
  }

  section {
    display: flex;
    align-items: center;
    color: $clr-black;
    cursor: pointer;

    svg {
      filter: invert(1);
    }

    p {
      font-size: $sinze8;
      color: $clr-black;
    }
  }
}
//--------------------
.main-find {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    margin: 15px;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: $box2;
    background: $clr-white;
    width: 80%;
    max-width: 500px;

    svg {
      filter: invert(1);
    }

    input {
      width: 100%;
      background: none;
      border: none;
      font-size: $sinze8;
      outline: none;
      color: $clr-black;
    }
  }

  select {
    cursor: pointer;
    height: 50px;
    margin: 5px 15px 15px 15px;
    border-radius: 3px;
    padding: 10px 15px;
    box-shadow: $box2;
    font-size: $sinze8;
    color: $clr-black;
    outline: none;
    border: none;

    option {
      color: $clr-black;
    }
  }
}