$sinze8: 0.875rem;
$clr-white: #fff;
$box: 3px 2px 5px grey;
$clr-gray: #444;
$box2: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
$clr-black: #000;
$clr-bone: #fafafa;
$clr-darkHeader: #2B3743;
$clr-darkBody: #202D36;

.colorVar{
  $clr-white: red;
}

.font {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  @extend .font;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5vw;
  @extend .font;
  box-shadow: $box2;
  animation-name: fadeInDownBig;
  animation-duration: .8s;
  animation-fill-mode: both;
  h1 {
    font-size: $sinze8;
    color: $clr-black;
  }

  section {
    display: flex;
    align-items: center;
    color: $clr-black;
    cursor: pointer;
    svg {
      filter: invert(1);
    }

    p {
      font-size: $sinze8;
      color: $clr-black;
    }
  }
}
//--------------------
.main-find {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  div {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    display: flex;
    margin: 15px;
    padding: 0px 10px;
    border-radius: 5px;
    background: $clr-white;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 650px;
    div{
      box-shadow: $box2;
      display: grid;
      grid-template-columns: 50px 1fr;
      max-width: 500px;
      svg {
        filter: invert(1);
      }
      input {
        width: 100%;

        background: none;
        border: none;
        font-size: $sinze8;
        outline: none;
        color: $clr-black;
        @extend .font;
      }
    }
    button{
      padding: 5px 15px;
      height: 40px;
      border: none;
      box-shadow: $box2;
      font-size:1rem;
      @extend .font;
    }
    button:hover{
      background-color: #2f2f30;
      color: $clr-white;
    }
    button:active{
      background-color: #2f2f30;
      color: $clr-white;
    }
  }
  select {
    cursor: pointer;
    height: 50px;
    margin: 5px 15px 15px 15px;
    border-radius: 3px;
    padding: 10px 15px;
    box-shadow: $box2;
    font-size: 1rem;
    color: $clr-black;
    outline: none;
    border: none;
    @extend .font;
    option {
      color: $clr-black;
    }
  }
  select:hover {
    background-color: #dedee0;
  }
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}