main {
  .Characters {
    color:$clr-black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    article {
      width: 100%;
      max-width: 350px;
      border-radius: 5px;
      background: $clr-white;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      margin: 50px 10px;
      padding-bottom: 20px;
      overflow: hidden;
      object-fit: cover;
      animation:zoomIn .5s linear forwards;
      a {
        text-decoration: none;
        color: $clr-black;
        img {
          width: 100%;
          margin-bottom: 20px;
          object-fit: cover;
          overflow: hidden;
          transition: all 1s;
        }
        h2,
        h3 {
          font-size: 1.3rem;
          margin-bottom: 10px;
          padding-left: 5%;

          span {
            margin-left: 5px;
            font-weight: 100;
          }
        }
      }
    }
    article:hover {
      background-color: rgb(235, 235, 235);
      a{
        img{
          transform: scale(1.1);
        }
      }
    }
    article:active {
      background-color: rgb(235, 235, 235);
      a{
        img{
          transform: scale(1.05);
        }
      }
    }
  }
}

 @keyframes zoomIn {
   0% {
     opacity: 0;
     transform: scale3d(.3, .3, .3);
   }

   50% {
     opacity: 1;
   }
 }
.loader{
background: $clr-white;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 0px;
z-index: 3;
animation: loader 2s linear forwards;
  div{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background:gray;
    margin-inline: 25px;
    animation:scale 3s linear infinite;
    transform:scale(.2);
  }
  div:nth-child(1){
    animation-delay: .2s;
  }
  div:nth-child(2){
    animation-delay: .4s;
  }
  div:nth-child(3){
    animation-delay: .6s;
  }
}
@keyframes scale{
  100%{
    transform: scale(1)
  }
}

@keyframes loader {
  0%{
    opacity: 1;
    visibility:visible;
  }
  80%{
    opacity: 1;
    visibility:visible;
  }
  100%{
    opacity:0;
    visibility:hidden;
  }
}