@import "./style/header";
@import "./style/main";
@import "./style/character";
@import "./style/darkColor";
@import "./style/error404";


@media (max-width:897px){
  body{
    .main{
      .main-find{
        justify-content: center
        ;
      }
      section{
        .Characters-inner{
          .Characters-card{
            .Characters-open{
                  display: flex;
                  justify-content: center;
            }
          }
        }
      }
    }
  }
}