* {
  margin: 0;
  padding: 0;
}

.displayFlex, .header .Header-search, .header .Header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.header {
  background: rebeccapurple;
  padding-block: 20px;
}
.header .Header-main {
  background: red;
}
.header .Header-search {
  background: yellow;
}
.header .Header-search div {
  background: red;
  padding: 0px 15px;
}
.header .Header-search div input {
  padding: 10px 5px;
}